@model Coffee_Maker_2000.Models.Coffee

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HomeScreen</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 text-center">
                Coffee Maker 2000
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 center-block">
                <img class="img-responsive" src="~/Content/163230-km-7680-en.png" alt="Chania" width="460" height="345">
            </div>
        </div>
    </div>
</body>
</html>
